/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

body, html {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

body {
	position: relative;
}

header {
	font-family: 'Lato', 'Arial', sans-serif;
	text-transform: uppercase;
	border-bottom: .15rem solid lightgrey;
	border-radius: .5rem;
	padding: 1rem;
	padding-bottom: 0;
}

section {
	width: 100vw;
}

footer {
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

a {
	color: rgb(131, 131, 131);
}

a:hover {
	color: rgb(66, 66, 66);
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	color: rgb(131, 131, 131);
	padding: 0 8px;
	line-height: inherit;
	vertical-align: middle;
}

.nav_links {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.site_title {
	color: #edb544;
	font-size: 4rem;
	font-weight: bolder;
	white-space: nowrap;
}

.site_title:hover {
	color: #edb544;
}

.nav_links_left {
	display: flex;
	align-items: flex-end;
	white-space: nowrap;
}

.nav_links_right {
	display: flex;
	align-items: flex-end;
	margin-left: auto;
	white-space: nowrap;
}

.dropdown {
	height: fit-content;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product_sec {
	width: 250px;
}

.product {
  height: 150px;
  width: 150px;
}

.product-show {
  height: 350px;
  width: 350px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.text-centered {
  text-align: center;
  margin-bottom: 40px;
}

.text-centered > a {
	text-decoration: none;
	color: black;
}

.text-centered > a:hover {
	color: #edb544;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
}

p.alert, p.notice {
	color: rgb(131, 131, 131);
	margin: 0;
	padding-right: 1.4rem;
	font-size: 1rem;
	height: 1rem;
}

.navbar {
	font-family: 'Lato', 'Arial', sans-serif;
	text-transform: uppercase;
}

.navbar-default {
	background-color: white;
	padding-bottom: 5px;
	padding-top: 5px;

	.navbar-nav > li > a {
		color: #222;
		&:hover {
			color: darken(#bdbdbd, 5%);
			transition: 0.5s;
		}
	}

	.navbar-header {
		.navbar-brand {
			color: #edb544;
			letter-spacing: 1.4px;
			text-transform: uppercase;
			font-size: 2.3em;
			font-weight: bold;
		}
	}

	.dropdown-menu > li > a:hover {
		background-color: darken(#bdbdbd, 5%);
		color: #fff;
	}

	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		background-color: darken(#bdbdbd, 5%);
		color: #fff;
	}
}

.dropdown-menu > .active > a {
	background-color: #bdbdbd;
	color: #fff;
}

.btn-custom {
	color: darken(#bdbdbd, 5%);
	background-color: #fff;
	border: 1px solid darken(#bdbdbd, 5%);
	padding: 8px 20px;
	border-radius: 0px;
	font-family: 'Lato', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken(#bdbdbd, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	padding: 8px 20px;
	border-radius: 0px;
	font-family: 'Lato', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}
}

.links {
	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
	}
}

.product-links {
	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
		margin-top: 40px;
	}
}

.signup-form {
	h2 {
		margin-top: 0;
		font-weight: bold;
	}
}

.login-form {
  h2 {
		margin-top: 0;
	}
}

// removes special characters from signup page bc of simple_form
abbr[title="required"] {
  display: none;
}

// Devise mssg when logging in/out and signing up
.notice {
	text-align: right;
	padding: 0 25px;
}

// doesnt work right
@media only screen and (max-width: 600px) {
	.nav_links {
		display: flex;
		flex-wrap: wrap;
		padding: 0 5px;
	}

	.site_title {
		color: #edb544;
		font-size: 2rem;
		font-weight: bolder;
		white-space: nowrap;
		order: 1;
	}

	.nav_links_left {
		white-space: nowrap;
		padding-left: unset;
		font-size: 1rem;
		order: 3;
		align-self: stretch;

		width: 100%;
	}

	.product_or_cart {
		min-width: 60px;
		background: white;
	}

	.nav_links_right {
		flex-direction: column;
		white-space: nowrap;
		padding-left: unset;
		font-size: 1rem;
		order: 2;
	}
	.user {
		font-size: .8rem;
	}

	p.alert, p.notice {
		padding-right: 1rem;
		font-size: .75rem;
	}

	.products {
		flex-direction: column;
	}

	.product_sec {
		width: 300px;
		margin: 0 auto;
	}

	a .product {
		height: 300px;
		width: 300px;
	}
}